table {
    border-collapse: collapse;
    border: 1;
}

div.axe_summary {
    background-color: white;
}

h5.ns {
    color: red
}

h5.tsat,
h5.sat {
    color: green
}

th,
td {
    text-align: left;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even),
td:nth-child(even) {
    text-align: center;
    vertical-align: middle;
}

.gris {
    background-color: #f2f2f2;
}

.rouge {
    color: red;
    text-align: center;
    vertical-align: middle;
}

.jaune {
    color: yellow;
    text-align: center;
    vertical-align: middle;
}

.vert {
    color: green;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #4CAF50;
    color: white;
    padding: 3px;
}

.cat1 {
    margin-left: 3px;
    margin-right: 3px
}

.cat2 {
    margin-left: 3px;
    margin-right: 3px
}