table.pnc {
    width: 100%;
    padding: 1em
}

div.axe_summary {
    background-color: white;
}

h5.ns {
    color: red
}

h5.tsat,
h5.sat {
    color: green
}

table.pnc th,
table.pnc td {
    text-align: center;
    vertical-align: middle;
}

tr.pnc:nth-child(even),
td.pnc:nth-child(even) {
    text-align: center;
    vertical-align: middle;
}

.gris {
    background-color: #f2f2f2;
}

.rouge {
    color: red;
    text-align: center;
    vertical-align: middle;
}

.jaune {
    color: yellow;
    text-align: center;
    vertical-align: middle;
}

th.pnc {
    background-color: #4CAF50;
    color: white;
}

.cat1 {
    margin-left: 3px;
    margin-right: 3px
}

.cat2 {
    margin-left: 3px;
    margin-right: 3px
}

.pnc_overview {
    border: 2px solid green;
}

.objectif {
    background-color: #4CAF50;
    -webkit-text-fill-color: #f2f2f2;
}

.cell_pnc {
    padding: 5px
}

.cell_indic {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}


}
.cell_indic img {
    text-align: center;
}